[submodule "third_party/googlebench"]
	path = benchmark/third_party/googlebench
	url = https://github.com/google/benchmark.git
[submodule "third_party/rocksdb"]
	path = benchmark/third_party/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "third_party/faster"]
	path = benchmark/third_party/faster
	url = https://github.com/lawben/FASTER-viper.git
[submodule "benchmark/third_party/dash"]
	path = benchmark/third_party/dash
	url = https://github.com/baotonglu/dash.git
[submodule "benchmark/third_party/hdr_histogram"]
	path = benchmark/third_party/hdr_histogram
	url = https://github.com/HdrHistogram/HdrHistogram_c.git
[submodule "third_party/dash"]
	path = third_party/dash
	url = https://github.com/baotonglu/dash.git
[submodule "third_party/cceh"]
	path = third_party/cceh
	url = https://github.com/lawben/CCEH.git
