---
---
@import "";

.page-header {
    background-color: #1e123e;
    background-image: linear-gradient(120deg, #361d75, #1e123e);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top:2rem;
    margin-bottom:1rem;
    font-weight:normal;
    color:#1e123e;
}

a {
    color:#1e123e;
}